documentation_and_templates/scheme_record.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://heuristnetwork.org" xmlns="http://heuristnetwork.org"
elementFormDefault="qualified">

<xs:group name="datedetails">
  <xs:sequence>
        <xs:element name="raw" type="xs:string"/>
        <xs:element name="year" type="xs:integer" minOccurs="0" maxOccurs="1"/>
        <xs:element name="month" type="xs:positiveInteger" minOccurs="0" maxOccurs="1"/> <!-- 1-12 -->
        <xs:element name="day" type="xs:positiveInteger" minOccurs="0" maxOccurs="1"/>
        <xs:element name="hour" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
        <xs:element name="minutes" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
        <xs:element name="seconds" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
  </xs:sequence>
</xs:group>

<xs:element name="record">
                            <xs:complexType>
                                <xs:sequence>
                                        <xs:element name="dbID" type="xs:nonNegativeInteger"/>
                                        <xs:element name="id" type="xs:nonNegativeInteger"/>
                                        <xs:element name="type">
                                                <xs:complexType>
                                                    <xs:simpleContent>
                                                        <xs:extension base="xs:string">                                                
                                                            <xs:attribute name="id" type="xs:nonNegativeInteger"/>          
                                                            <xs:attribute name="conceptID" type="xs:string"/>          
                                                        </xs:extension>    
                                                    </xs:simpleContent>
                                                </xs:complexType>
                                        </xs:element>
                                        <xs:element name="title" type="xs:string"/>
                                        <xs:element name="notes" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                        <xs:element name="added" type="xs:string"/>
                                        <xs:element name="modified" type="xs:string"/>
                                        <xs:element name="workgroup">
                                                <xs:complexType>
                                                    <xs:simpleContent>
                                                        <xs:extension base="xs:string">                                                
                                                            <xs:attribute name="id" type="xs:nonNegativeInteger"/>          
                                                        </xs:extension>    
                                                    </xs:simpleContent>
                                                </xs:complexType>
                                        </xs:element>
                                       
                                        
                                        <xs:element name="detail" minOccurs="0" maxOccurs="unbounded">
                                                <xs:complexType mixed="true">
                                                    <xs:sequence minOccurs="0" maxOccurs="1">
                                                    <xs:choice>
                                                        <xs:group ref="datedetails"/>
                                                        <xs:element name="geo">
                                                            <xs:complexType>                                                    
                                                                <xs:sequence>
                                                                    <xs:element name="type" type="xs:string"/>
                                                                    <xs:element name="wkt" type="xs:string"/>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="file">
                                                            <xs:complexType>                                                    
                                                                <xs:sequence>
                                                                    <xs:element name="id" type="xs:string"/>
                                                                    <xs:element name="nonce" type="xs:string"/>
                                                                    <xs:element name="origName" type="xs:string"/>
                                                                    <xs:element name="mimeType" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                                    <xs:element name="fileSize" minOccurs="0" maxOccurs="1">
                                                                            <xs:complexType>
                                                                                <xs:simpleContent>
                                                                                    <xs:extension base="xs:string">                                                
                                                                                        <xs:attribute name="units" type="xs:string"/>          
                                                                                    </xs:extension>    
                                                                                </xs:simpleContent>
                                                                            </xs:complexType>
                                                                    </xs:element>
                                                                    <xs:element name="date" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                                    <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                                    <xs:element name="url" type="xs:anyURI" minOccurs="0" maxOccurs="1"/>
                                                                    <xs:element name="thumbURL" type="xs:anyURI" minOccurs="0" maxOccurs="1"/>
                                                                    <xs:element name="error" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                                    <xs:element name="content" minOccurs="0" maxOccurs="1">
                                                                            <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:any minOccurs="0"/>
                                                                                    </xs:sequence>
                                                                                    <xs:attribute name="type" type="xs:string"/>
                                                                            </xs:complexType>                                                                    
                                                                    </xs:element>
                                                                    
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="temporal">
                                                            <xs:complexType> 
                                                                <xs:sequence>
                                                                        <xs:element name="date"  minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:complexType>
                                                                                <xs:group ref="datedetails"/>                                                    
                                                                                <xs:attribute name="type" type="xs:string"/>          
                                                                                <xs:attribute name="name" type="xs:string"/>          
                                                                            </xs:complexType>                                                    
                                                                        </xs:element>
                                                                        <xs:element name="duration"  minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:complexType>
                                                                                <xs:group ref="datedetails"/>                                                    
                                                                                <xs:attribute name="type" type="xs:string"/>          
                                                                                <xs:attribute name="name" type="xs:string"/>          
                                                                            </xs:complexType>                                                    
                                                                        </xs:element>
                                                                        <xs:element name="property"  minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:complexType>
                                                                                <xs:simpleContent>
                                                                                    <xs:extension base="xs:string">                                                
                                                                                        <xs:attribute name="type" type="xs:string"/>          
                                                                                        <xs:attribute name="name" type="xs:string"/>          
                                                                                    </xs:extension>    
                                                                                </xs:simpleContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                </xs:sequence>
                                                                <xs:attribute name="version" type="xs:string"/>          
                                                                <xs:attribute name="type" type="xs:string"/>          
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:choice>
                                                    </xs:sequence>
                                                    <xs:attribute name="id" type="xs:nonNegativeInteger"/>
                                                    <xs:attribute name="conceptID" type="xs:string"/>          
                                                    <xs:attribute name="basename" type="xs:string"/>          
                                                    <xs:attribute name="name" type="xs:string"/>          
                                                    <xs:attribute name="isRecordPointer" type="xs:boolean"/>
                                                    
                                                    <xs:attribute name="termID" type="xs:nonNegativeInteger"/>
                                                    <xs:attribute name="termConceptID" type="xs:string"/>          
                                                    <xs:attribute name="ParentTerm" type="xs:string"/>          
                                                    
                                                </xs:complexType>
                                        </xs:element>
                                        
                                        <xs:element name="reversePointer" minOccurs="0" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:simpleContent>
                                                        <xs:extension base="xs:integer">                                                
                                                            <xs:attribute name="id" type="xs:nonNegativeInteger"/>          
                                                            <xs:attribute name="conceptID" type="xs:string"/>          
                                                            <xs:attribute name="type" type="xs:string"/>          
                                                            <xs:attribute name="name" type="xs:string"/>          
                                                        </xs:extension>    
                                                    </xs:simpleContent>
                                                </xs:complexType>
                                        </xs:element>

                                        <xs:element name="relationship" minOccurs="0" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:simpleContent>
                                                        <xs:extension base="xs:integer">                                                
                                                            <xs:attribute name="useInverse" type="xs:boolean"/>          
                                                            <xs:attribute name="type" type="xs:string"/>          
                                                            <xs:attribute name="termID" type="xs:nonNegativeInteger"/>          
                                                            <xs:attribute name="termConceptID" type="xs:string"/>          
                                                            <xs:attribute name="relatedRecordID" type="xs:nonNegativeInteger"/>          
                                                        </xs:extension>    
                                                    </xs:simpleContent>
                                                </xs:complexType>
                                        </xs:element>
                                        
                                </xs:sequence>
                                
                                <xs:attribute name="depth" type="xs:decimal"/>          
                                <xs:attribute name="visibility" type="xs:string"/>          
                                <xs:attribute name="visnote" type="xs:string"/>          
                                <xs:attribute name="selected" type="xs:string"/>
                                
                            </xs:complexType>
</xs:element>

</xs:schema>